.card {
	flex: 1 0 10% !important;
}

.card-title{
		display:flex;
}

p.card-text{
		display:flex;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.row.center-div{
    max-width: 90%;
    margin: auto;
}

.table-row{
cursor:pointer;
line-height: 2%;
vertical-align: middle;
}


main.container{
	margin-top: 35px;
}

img.img-fluid.img-thumbnail.img-table{
	max-height: 45px;
}
	
.dataTables_length,
.dataTables_wrapper {
  select,
  input {
    background-color: #f9f9f9;
    border: 1px solid #999;
    border-radius: 4px;
    height: 3rem;
    line-height: 2;
    font-size: 1.8rem;
    color: #333;
  }

  .dataTables_length,
  .dataTables_filter {
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-flex;
  }
}

// paginate

.paginate_button {
  min-width: 4rem;
  display: inline-block;
  text-align: center;
  padding: 1rem 1.6rem;
  margin-top: -1rem;
  border: 2px solid lightblue;
  &:not(.previous) {
    border-left: none;
  }
  &.previous {
    border-radius: 8px 0 0 8px;
    min-width: 7rem;
  }
  &.next {
    border-radius: 0 8px 8px 0;
    min-width: 7rem;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
    text-decoration: none;
  }
}