{% load static %}

{% block content %}
<div class="modal fade" id="modalProdDetail" tabindex="-1" role="dialog"
        aria-labelledby="modalProdDetail" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		
		{% if product_list %}
  	<td>
	<a style="text-align: center;" href="{%url 'basketresident-delete' resident.id %}" class="fa fa-pencil" >
	<img src="/static/media/icon/delete.png " alt="Delete">
	</a>
	</td>
		
<table class="datatable table table-striped" id="Basket" >
	<thead>
		<tr>
			<th scope="col">Image</th>
			<th scope="col">Produit</th>
			<th scope="col">Points</th>
			<th scope="col">Quantité</th>
			<th scope="col">Total</th>
		</tr>
	</thead>
	<tbody id="myTable">
  {% for product in product_list %}
		<tr id="{{ product.id }}">
			<td scope="row w-25" >
				<img width="100" height="100" src="{{ product.product.prod_img.url }} " alt="{{ product.product.prod_name }}" class="img-fluid img-thumbnail">
				</td>
				<td scope="row" >
					<a href=# onclick="getProductDetail({{ product.product.id }})" class="fa fa-pencil">{{ product.product.prod_name }}</a>
					<p {% if product.error == null %} hidden {% endif %} class="errorform"> {{ product.error }} </p>
				</td>
				<td scope="row" >
					{{ product.product.prod_limit }}
				</td>
				<td>
				<!--<form class="btnaddandremove" action="{% url 'basketresident-remove-one' product.id %}" method="post">-->
				<a href=# onclick="RemoveOneToBasket({{ product.id }}, {{product.qty}}, {{ product.points }},{{ product.product.prod_limit }}, {{ points }})" class="btnaddandremove btn btn-danger"> - </a>
				{% csrf_token %}
				<!-- <input class="btn btn-danger" type="submit" value="-" /> 
				</form> -->
				<p name="qty_asked" id="qty_asked{{product.id}}">{{ product.qty }}</p>
				<!--<form class="btnaddandremove" action="{% url 'basketresident-add-one' product.id %}" method="post">{% csrf_token %}<input class="btn btn-success" type="submit" value="+" />
				</form>-->
				<a href=# onclick="AddOneToBasket({{ product.id }}, {{product.qty}}, {{ product.points }},{{ product.product.prod_limit }}, {{ points }})" class="btnaddandremove btn btn-success"> + </a>
				</td>
				<td> <p name="points" id="points{{product.id}}">{{ product.points }}</p> </td>
		</tr>
  {% endfor %}
	</tbody>
</table>
<p name="totalpoints" id="totalpoints" > Total de points de la commande : {{ points }} </p>
<p> Points par semaine : {{ user_points }} </p>
<p id="pointrestant"> Points restant après commande : {{ ptwithorder }} </p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input id="verifpoint" type="checkbox" aria-label="Checkbox for following text input" checked>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with checkbox" value="Vérifier points" disabled>
</div>
<p id="error" class="errorform"></p>
<td><!--<a style="text-align: center;" href="{%url 'basketresident-convert' resident.id %}" class="fa fa-pencil" >
		<img src="/static/media/icon/valid.png " alt="Delete">
		</a>-->
		<a style="text-align: center;" href=# onclick="validateBasket({{ resident.id }})" class="fa fa-pencil" >
		<img src="/static/media/icon/valid.png " alt="Delete">
		</a>
		</td>
  {% else %}
<p>Votre panier est vide.</p>
  {% endif %}
		
		
			</div>
		</div>
	</div>

{% endblock %}