{% extends "index.html" %}
{% load static %} 
{% load auth_extras %}
{% block title %}Liste des produits{% endblock %}
{% block content %}

  {% if product_list %}
   
  	<td>
	<a style="float: left;" href="{%url 'basket-delete' %}" class="fa fa-pencil" >
	<img src="/static/media/icon/delete.png " alt="Delete">
	</a>
	</td>
		<td><a style="float: right;" onclick="basketConvert()" href=# class="fa fa-pencil" >
		<img src="/static/media/icon/valid.png " alt="validate">
		</a></td>
<table class="datatable table table-striped" id="Basket" >
	<thead>
		<tr>
			<th scope="col">Image</th>
			<th scope="col">Produit</th>
			<th scope="col">Quantité</th>
		</tr>
	</thead>
	<tbody id="myTable">
  {% for product in product_list %}
		<tr>
			<td scope="row w-25" >
				<img width="100" height="100" src="{{ product.product.prod_img.url }} " alt="{{ product.product.prod_name }}" class="img-fluid img-thumbnail">
				</td>
				<td scope="row" >
					<a href=# onclick="getProductDetail({{ product.product.id }})" class="fa fa-pencil">{{ product.product.prod_name }}</a>
					<p {% if product.error == null %} hidden {% endif %} class="errorform"> {{ product.error }} </p>
				</td>
				
				<td>
				<!--<form class="btnaddandremove" action="{% url 'basketresident-remove-one' product.id %}" method="post">-->
				<a href=# onclick="RemoveOneToBasket({{ product.id }}, {{product.qty}})" class="btnaddandremove btn btn-danger"> - </a>
				{% csrf_token %}
				<!-- <input class="btn btn-danger" type="submit" value="-" /> 
				</form> -->
				<p name="qty_asked" id="qty_asked{{product.id}}">{{ product.qty }}</p>
				<!--<form class="btnaddandremove" action="{% url 'basketresident-add-one' product.id %}" method="post">{% csrf_token %}<input class="btn btn-success" type="submit" value="+" />
				</form>-->
				<a href=# onclick="AddOneToBasket({{ product.id }}, {{product.qty}})" class="btnaddandremove btn btn-success"> + </a>
				</td>
				
				<!--<td>
				<form class="btnaddandremove" action="{% url 'product-remove-one' product.id %}" method="post">
				{% csrf_token %}
				<input class="btn btn-danger" type="submit" value="-" /> 
				</form> {{ product.qty }} <form class="btnaddandremove" action="{% url 'product-add-one' product.id %}" method="post">{% csrf_token %}<input class="btn btn-success" type="submit" value="+" /></form></td>
			-->
		</tr>
  {% endfor %}
	</tbody>
</table>
<p id="error" class="errorform"></p>
	<div class="form-group">
    <label for="commentary">Commentaire</label>
    <textarea class="form-control" id="commentary" rows="3"></textarea>
  </div>
  {% else %}
<p>Votre panier est vide.</p>
  {% endif %}
  <div id="addModal"></div>
{% endblock %}  
{% block jscript %}
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>


$(document).ready(function() {
    $('#Basket').DataTable();
} );


function getProductDetail(pk) {
var url ="{% url 'product-detail' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalProdDetail').modal('show');
       }
     });
}

function RemoveOneToBasket(pk,qty_asked) {
var url ="{% url 'product-remove-one' 0 %}".replace('0', pk);
	  $.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {
				var p = document.getElementById('qty_asked'+pk);
				var text = p.textContent;
				var number = Number(text);
				$("#qty_asked"+pk).text(number-1);
				if (number-1 === 0){
					document.getElementById(pk).style.display = "none";
				} 
			}
		 });
}

function AddOneToBasket(pk,qty_asked) {
var url ="{% url 'product-add-one' 0 %}".replace('0', pk);
	  $.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {
				var p = document.getElementById('qty_asked'+pk);
				var text = p.textContent;
				var number = Number(text);
				$("#qty_asked"+pk).text(number+1)

			}
		 });
}

function basketConvert(){
var url ="{% url 'basket-convert' %}";
var p = document.getElementById('commentary').value;
	  $.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					commentary:p,
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {
			if (!data['error'].length){
				$(location).attr('href', "{% url 'basket' %}")
			}
			else {
				document.getElementById("error").innerHTML += "",
				$('.errors').remove();
				$.each(data['error'], function(index, value) {
					var p = document.createElement("p");
					p.className = "errors";
					p.innerHTML += value;
					document.getElementById("error").appendChild(p);
				});
			}
		   }
		 });
}


</script>
{% endblock %}