{% load static %}

{% block content %}
<div class="modal fade" id="modalProdDetail" tabindex="-1" role="dialog"
        aria-labelledby="modalProdDetail" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		
		{% if product_list %}
  	<td>
	<a style="text-align: center;" href="{%url 'basketresident-delete' resident.id %}" class="fa fa-pencil" >
	<img src="/static/media/icon/delete.png " alt="Delete">
	</a>
	</td>
		
<table class="datatable table table-striped" id="Basket" >
	<thead>
		<tr>
			<th scope="col">Image</th>
			<th scope="col">Produit</th>
			<th scope="col">Quantité</th>
		</tr>
	</thead>
	<tbody id="myTable">
  {% for product in product_list %}
		<tr>
			<td scope="row w-25" >
				<img width="100" height="100" src="{{ product.product.prod_img.url }} " alt="{{ product.product.prod_name }}" class="img-fluid img-thumbnail">
				</td>
				<td scope="row" >
					<a href=# onclick="getProductDetail({{ product.product.id }})" class="fa fa-pencil">{{ product.product.prod_name }}</a>
					<p {% if product.error == null %} hidden {% endif %} class="errorform"> {{ product.error }} </p>
				</td>
				<td>
				<form class="btnaddandremove" action="{% url 'basketresident-remove-one' product.id %}" method="post">
				{% csrf_token %}
				<input class="btn btn-danger" type="submit" value="-" /> 
				</form> {{ product.qty }} <form class="btnaddandremove" action="{% url 'basketresident-add-one' product.id %}" method="post">{% csrf_token %}<input class="btn btn-success" type="submit" value="+" /></form></td>
		</tr>
  {% endfor %}
	</tbody>
</table>
<p> Total de points de la commande : {{ points }} </p>
<p> Points résidents : {{ user_points }} </p>
<td><a style="text-align: center;" href="{%url 'basketresident-convert' resident.id %}" class="fa fa-pencil" >
		<img src="/static/media/icon/valid.png " alt="Delete">
		</a></td>
  {% else %}
<p>Votre panier est vide.</p>
  {% endif %}
		
		
			</div>
		</div>
	</div>

{% endblock %}