
{% load static %}

{% block content %}
<div class="modal fade" id="modalFedOrderUpdate" tabindex="-1" role="dialog"
        aria-labelledby="modalFedOrderUpdate" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
  <h3 class="centeredText">{{ order.title }}</h3>
</div>
  <p class="centeredText"><strong>date : </strong>{{ order.date }}</p> 
  <div class="DetailOrderModal">
    <h4>Produits :</h4>

    {% for orderitem in order.fedorderitem_set.all %}
      <div>
      <div>
	  <div class="orderdetail"><img width="50" height="50" src="{{ orderitem.product.prod_img.url }}" alt="{{ order.product.prod_name }}" class="img-fluid img-thumbnail"></div>
      <div class="text"><div >produit : {{ orderitem.product.prod_name }} </div>
      <div class="orderdetail"><div>Quantité commandée : {{ orderitem.qty }}</div>
	  <div>
	  <form action="{% url 'fed-orderitem-update' order.id %}" method="POST">
	  {% csrf_token %}
	  <label> quantité fournis : 
	  <input {% if orderitem.delivered %} disabled {% endif %} min=0  type="number" name="qty" id="qty{{ orderitem.id }}" maxlength="100" class="form-control qty" value="{{ orderitem.qty_supplied }}"> 
	  <input type="checkbox" class="form-control check" id="check{{ orderitem.id }}" name="delivered" value ="{{orderitem.delivered}}" 
			onClick="UpdateQty({{ orderitem.id }})" {% if orderitem.delivered %} checked {% endif %} {% if orderitem.delivered and order.status == "PARTIEL" %}disabled{% endif %}>
	  </label></form>
	  </div></div></div></div></div>

   {% endfor %}
 <p id="error" class="errorform"></p>
   <br>
   <div class="vertical-center">
	<a id="btnCloseOrder" class="btn btn-dark" {% if order.status == "OPEN" or order.status == "PARTIEL" %}onclick="validateBasket({{ order.id }})"  {% endif %}>Sauvegarder</a>	
			</div>
		</div>
	</div>


{% endblock %}