{% extends "index.html" %}
{% load static %} 
{% load auth_extras %}
{% block title %}Liste des commandes du personnel{% endblock %}

{% block content %}
  {% if fedorder_list %}
  <table class="datatable table table-striped" id="FedOrdersTable" >
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Personne</th>
				<th scope="col">Satus</th>
				{% if request.user|has_group:"Shop Members" %}
				<th scope="col"></th>
				<th scope="col"></th>
				{% endif %} 
			</tr>
		</thead>
		<tbody id="myTable">
    {% for order in fedorder_list %}
	<tr >
				<td scope="row"><a href=# onclick="getOrderDetail({{ order.id }})">{{ order.title }}</a></td>
				<td>{{ order.date }}</td>
				<td>{{ order.order_user }}</td>
				<td>{{ order.status }}</td>
				{% if request.user|has_group:"Shop Members" %}
				<td ><a href=# onclick="getConfirmDeleteModal({{ order.id }})" class="fa fa-pencil" ><img src="/static/media/icon/delete.png " alt="{{ order.title }}"></a>
				</td>
				<td ><a {% if order.status == "OPEN" %}href=# onclick="getOrderUpdate({{ order.id }})" {% endif %} class="fa fa-pencil" >
				{% if order.status == "OPEN" %}
				<img src="/static/media/icon/open.png " alt="{{ order.title }}">
				{% else %}
				<img src="/static/media/icon/close.png " alt="{{ order.title }}">
				{% endif %} 
				</a></td>
				{% endif %} 
			</tr>
    {% endfor %}
   		</tbody>
	</table>
  {% else %}
    <p>Il n'y a pas de commande.</p>
  {% endif %} 
    <div id="addModal"></div>
  {% endblock %}  
{% block jscript %}
  		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#FedOrdersTable').DataTable();
} );

function getConfirmDeleteModal(pk) {
var url ="{% url 'fed-order-delete' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalDelete').modal('show');
       }
     });
}

function getOrderDetail(pk) {
var url ="{% url 'fed-order-detail' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalProdDetail').modal('show');
       }
     });
}

function getOrderUpdate(pk) {
var url ="{% url 'fed-order-update' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalFedOrderUpdate').modal('show');
       }
     });
}

function UpdateQty(pk,qty) {
var url ="{% url 'fed-orderitem-update' 0 %}".replace('0', pk);
  $.ajax({
       type: "POST",
       url: url,
	   data:
            {
                qty:$("#qty"+pk).val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
       success: function(data) {
			
       }
     });
}

</script>
{% endblock %}