
{% load static %}

{% block content %}
<div class="modal fade" id="modalProdDetail" tabindex="-1" role="dialog"
        aria-labelledby="modalProdDetail" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
  <h3 class="centeredText">{{ fedorder.title }}</h3>
</div>
  <p class="centeredText"><strong>date : </strong>{{ fedorder.date }}</p> <!-- author detail link not yet defined -->
  <div class="DetailOrderModal">
    <h4>Produits :</h4>

    {% for orderitem in fedorder.fedorderitem_set.all %}
      <div>
	  <div class="orderdetail" style="vertical-align: text-bottom;"><img width="50" height="50" src="{{ orderitem.product.prod_img.url }}" alt="{{ order.product.prod_name }}" class="img-fluid img-thumbnail"></div>
      <div class="orderdetail"><div>produit : {{ orderitem.product.prod_name }}</div>
	  <div class="orderdetail">quantité commandée : {{ orderitem.qty }}</div>
	  {% if fedorder.status == "CLOSED" %}
	  <div class="form-control qty"><strong>quantité fournis :</strong> {{ orderitem.qty_supplied }}</div>
	  {% endif %}
	  </div></div>

   {% endfor %}

			</div>
		</div>
	</div>


{% endblock %}