{% extends "index.html" %}
{% load static %} 
{% load auth_extras %}
{% block title %}Liste des commandes du personnel{% endblock %}

{% block content %}
  {% if fedorder_list %}
  <table class="datatable table table-striped" id="FedOrdersTable" >
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Personne</th>
				<th scope="col">Satus</th>
				{% if request.user|has_group:"Shop Members" %}
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
				{% endif %} 
			</tr>
		</thead>
		<tbody id="myTable">
    {% for order in fedorder_list %}
	<tr >
				<td scope="row"><a href=# onclick="getOrderDetail({{ order.id }})">{{ order.title }}</a></td>
				<td ><span hidden>{{ order.timestamp|date:'Ymd' }}</span>{{ order.date|date:'d/m/Y' }}</td>
				<td>{{ order.order_user }}</td>
				<td>{{ order.status }}</td>
				{% if request.user|has_group:"Shop Members" %}
				<td ><a href=# onclick="getConfirmDeleteModal({{ order.id }})" class="fa fa-pencil" ><img src="/static/media/icon/delete.png " alt="{{ order.title }}"></a>
				</td>
				<td ><a href=# onclick="getOrderUpdate({{ order.id }})" class="fa fa-pencil" >
				<img src="/static/media/icon/open.png " alt="{{ order.title }}">
				</a></td>
				
				<td ><a href="{% url 'print' order.id %}" target="_blank" class="fa fa-pencil" >
				<img src="/static/media/icon/print.png " alt="{{ order.title }}">
				</a></td>
				{% endif %} 
			</tr>
    {% endfor %}
   		</tbody>
	</table>
  {% else %}
    <p>Il n'y a pas de commande en cours.</p>
  {% endif %} 
  {% if fedorder_list_closed %}
  <br>
<hr class="rounded">
<br>
<div class="panel panel-primary accordion"> 
<div class="panel-heading"> <!-- Panel head -->
        <a class="btn btn-dark" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">
            Montrer les commandes cloturées
        </a>           
    </div> <!-- END Panel head -->
    
    <div id="collapseOne" class="panel-collapse collapse in"> <!-- Collapsable section -->
        
        <div class="panel-body">
  <table class="datatable table table-striped" id="FedOrdersTableClosed" >
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Demandeur</th>
				<th scope="col">Préparateur</th>
				<!--<th scope="col">Satus</th>-->
				{% if request.user|has_group:"Shop Members" %}
				<!--<th scope="col"></th>-->
				<th scope="col"></th>
				{% endif %} 
			</tr>
		</thead>
		<tbody id="myTable">
    {% for order in fedorder_list_closed %}
	<tr >
				<td scope="row"><a href=# onclick="getOrderDetail({{ order.id }})">{{ order.title }}</a></td>
				<td><span hidden>{{ order.timestamp|date:'Ymd' }}</span>{{ order.date|date:'d/m/Y' }}</td>
				<td>{{ order.order_user }}</td>
				<td>{{ order.prepared_by }}</td>
				<!--<td>{{ order.status }}</td>-->
				{% if request.user|has_group:"Shop Members" %}
				<!--<td ><a href=# onclick="getConfirmDeleteModal({{ order.id }})" class="fa fa-pencil" ><img src="/static/media/icon/delete.png " alt="{{ order.title }}"></a>
				</td>-->
				<td >
					<img src="/static/media/icon/close.png " alt="{{ order.title }}">
				</td>
				{% endif %} 
			</tr>
    {% endfor %}
   		</tbody>
	</table>
	</div></div></div> 
  {% else %}
    <p>Il n'y a pas de commande en fermées.</p>
  {% endif %} 
    <div id="addModal"></div>
  {% endblock %}  
{% block jscript %}
  		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>


<script>
$(document).ready(function() {
	$('#FedOrdersTable thead th').each( function () {
        var title = $(this).text();
		if (title != ''){
			$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
		}
    } );
	$('#FedOrdersTableClosed thead th').each( function () {
        var title = $(this).text();
		if (title != ''){
			$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
		}
    } );
	
    $('#FedOrdersTable').DataTable({
        initComplete: function () {
            // Apply the search
            this.api().columns().every( function () {
                var that = this;
 
                $( 'input', this.header() ).on( 'keyup change clear', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        }
		
		
    } );
	$('#FedOrdersTableClosed').DataTable({
		initComplete: function () {
				// Apply the search
				this.api().columns().every( function () {
					var that = this;
	 
					$( 'input', this.header() ).on( 'keyup change clear', function () {
						if ( that.search() !== this.value ) {
							that
								.search( this.value )
								.draw();
						}
					} );
				} );
			}
    } );
} );

function getConfirmDeleteModal(pk) {
var url ="{% url 'fed-order-delete' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalDelete').modal('show');
       }
     });
}

function getOrderDetail(pk) {
var url ="{% url 'fed-order-detail' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalProdDetail').modal('show');
       }
     });
}

function getOrderUpdate(pk) {
var url ="{% url 'fed-order-update' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalFedOrderUpdate').modal('show');
       }
     });
}

function UpdateQty(pk,qty) {
var url ="{% url 'fed-orderitem-update' 0 %}".replace('0', pk);
	if (document.getElementById('check'+pk).checked) {
		var value = '1';
		document.getElementById("qty"+pk).disabled = true;
		$.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					unchecked:value,
					qty:$("#qty"+pk).val(),
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {
			}
		});
	}else{
		document.getElementById("qty"+pk).disabled = false;
		var value = '0';
		$.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					unchecked:value,
					qty:$("#qty"+pk).val(),
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {

		   }
		});
	}
}

function validateBasket(pk) {
var url ="{% url 'fed-order-closed' 0 %}".replace('0', pk);
		$.ajax({
		   type: "POST",
		   url: url,
		   data:
				{
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
		   success: function(data) {
				if (!data['error'].length){
				$(location).attr('href', "{% url 'fed-orders' %}")
			}
			else {
				console.log(data);
				document.getElementById("error").innerHTML += "",
				$('.errors').remove();
				$.each(data['error'], function(index, value) {
					var p = document.createElement("p");
					p.className = "errors";
					p.innerHTML += value;
					document.getElementById("error").appendChild(p);
				});
			}
		   }
		});
	
}

</script>
{% endblock %}