{% extends "index.html" %}
{% load static %} 


{% block content %}
<br>
  <h1>Liste des commandes</h1>
  
    <a href="{% url 'order-create' %} ">Créer commande</a>
  {% if order_list %}
  <table class="datatable table table-striped" id="OrdersTable" >
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Personne</th>
				<th scope="col">Editer</th>
				<th scope="col">Supprimer</th>
			</tr>
		</thead>
		<tbody id="myTable">
    {% for order in order_list %}
	<tr >
				<th><a href="{{ order.get_absolute_url }}">{{ order.title }}</a></th>
				<td>{{ order.date }}</td>
				<td>{{ order.order_user }}</td>
				<td></td>
			</tr>
		<!-- <a href="{% url 'order-update' order.id %} ">Editer :{{ order.title }}</a> -->
    {% endfor %}
   		</tbody>
	</table>
  {% else %}
    <p>There are no orders in the shop.</p>
  {% endif %} 
  		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#OrdersTable').DataTable();
} );
</script>
{% endblock %}