{% block content %}

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog"
        aria-labelledby="modalProd" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">

				<p>Êtes-vous sûr de vouloir supprimer: {{ order }}?</p>

				<form action="{% url 'order-delete' order.id %}" method="POST">
  {% csrf_token %}
					<input class="btn btn-danger" type="submit" value="Oui, supprimer.">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}