{% extends "index.html" %}
{% load static %} 
{% block title %}Liste des commandes{% endblock %}

{% block content %}
    <a id="btnCreate" class="btn btn-dark" href="{% url 'order-create' %} ">+ Ajouter une commande</a>
  {% if order_list %}
  <table class="datatable table table-striped" id="OrdersTable" >
		<thead>
			<tr>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Personne</th>
				<th scope="col"></th>
<!-- 				<th scope="col">Editer</th>
				<th scope="col">Supprimer</th> -->
			</tr>
		</thead>
		<tbody id="myTable">
    {% for order in order_list %}
	<tr >
				<td scope="row"><a href=# onclick="getOrderDetail({{ order.id }})">{{ order.title }}</a></td>
				<td>{{ order.date }}</td>
				<td>{{ order.order_user }}</td>
				<td ><a href=# onclick="getConfirmDeleteModal({{ order.id }})" class="fa fa-pencil" ><img src="/static/media/icon/delete.png " alt="{{ order.title }}"></a></td>
			</tr>
    {% endfor %}
   		</tbody>
	</table>
  {% else %}
    <p>There are no orders in the shop.</p>
  {% endif %} 
    <div id="addModal"></div>
  {% endblock %}  
{% block jscript %}
  		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
		<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#OrdersTable').DataTable({
        "order": [[ 1, "desc" ]]
    } );
} );

function getConfirmDeleteModal(pk) {
var url ="{% url 'order-delete' 0 %}".replace('0', pk);
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalDelete').modal('show');
       }
     });
}

function getOrderDetail(pk) {
var url ="{% url 'order-detail' 0 %}".replace('0', pk);
var products;
  $.ajax({
       type: "GET",
       url: url,
       success: function(data) {
		   products += data;
		   document.getElementById("addModal").innerHTML = data;
		   $('#modalProdDetail').modal('show');
       }
     });
}
</script>
{% endblock %}