{% load static %}

{% block content %}
<div class="modal fade" id="modalProdDetail" tabindex="-1" role="dialog"
        aria-labelledby="modalProdDetail" aria-hidden="true"
         data-keyboard="false" data-dismiss="modal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		<h1 style="text-align:center;">{{ product.prod_name }}</h1>
			<div class="modal-header">
			<img style="margin-left:auto; margin-right:auto;" width="300" height="300" src="{{ product.prod_img.url }} " alt="{{ product.prod_name }}" class="img-fluid img-thumbnail">
			
				</div>
				 <div class="modal-body">
					<p>
						<strong>Stock : </strong>{{ product.prod_stock }}</p>
					<!-- author detail link not yet defined -->
					<p>
						<strong>Quantité max :</strong> {{ product.prod_max }}</p>
					<p>
						<strong>Quantité min :</strong> {{ product.prod_min }}</p>
					<p>
						<strong>Référence interne :</strong> {{ product.prod_ref_in }}</p>
					<p>
						<strong>Fournisseur :</strong>
						<a onclick="getSupplierDetail({{product.prod_supplier.pk }})"> {{ product.prod_supplier }}</a>
					</p>
					<p>
						<strong>Référence externe :</strong> {{ product.prod_ref_out }}</p>
						</div>

			</div>
		</div>
	</div>

{% endblock %}