{% extends "index.html" %}

{% block content %}
  <form action="{%url 'supplier-create' %}"  method="post" enctype="multipart/form-data">
  <div class="form-group">
    {% csrf_token %}
    <table>
    {{ form.as_p }}
    </table>

    <input class="btn btn-dark" type="submit" value="Submit">
	</div>
  </form>
  
{% endblock %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}