{% extends "index.html" %}

{% block content %}
<div class="col-md-4">
  {% if form.errors %}
    <p>Votre mot de passe et votre nom d'utilisateur ne correspondent pas.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Veuillez vous connecter svp.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
  <div class="form-group">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Confirmer" />
    <input type="hidden" name="next" value="{% url 'index' %}" />
	</div>

  </form>
	</div>
  {# Assumes you setup the password_reset view in your URLconf #}
 <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}