<!DOCTYPE html>
<html lang="en">
	<head>
		<title> Bootstrap SORT table Example </title>
		<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
					</head>
					<body>
						<div class="container" style="width:40%";>
							<h2> Bootstrap Sort Table </h2>
							<table class="table table-striped table-bordered" id="sortTable">
								<thead>
									<tr>
										<th>Firstname</th>
										<th>Lastname</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Adam</td>
										<td>joo</td>
										<td>Jadamj@yahoo.com</td>
									</tr>
									<tr>
										<td>seri</td>
										<td>sami</td>
										<td>ami_seri@rediff.com</td>
									</tr>
									<tr>
										<td>zeniya</td>
										<td>deo</td>
										<td>zee@gmail.com</td>
									</tr>
								</tbody>
							</table>
						</div>
						<script>
$('#sortTable').DataTable();
						</script>
					</body>
				</html>